body {
	margin: 0;
	font-family: Arial;
}

#main_container {
	display: flex;
	background-color: #F2F2F8;
}

#collapsed_controls {
	display: none;
	padding: 0px 10px;
}

#controls {
	max-width: 300px;
	min-width: 300px;
	padding: 0px 10px;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.icon img {
	background-color: white;
	border: none;
	border-radius: 8px;
	padding: 7.5px;
}

.icon img:hover {
	cursor: pointer;
	background-color: #CCCCCC;
}

.control_section {
	background-color: white;
	border: none;
	border-radius: 8px;
	margin-top: 10px;
}

.control_section legend {
	font-weight: bold;
}

#ui_plot_scaling_slider {
	width: 100%;
}

#station_selection_container {
	position: relative;
}

#station_selection_selector {
	border: 1px solid;
	display: flex;
	flex-flow: row wrap;
}

.station_selection_tag {
	cursor: pointer;
	background-color: #C5E6A6;
	margin: 3;
	padding: 3;
	border-radius: 3px;
}

.station_selection_tag:hover {
	background-color: #A5C686;
}

#station_selection_textbox {
	flex-grow: 1;
	order: 1;
	margin: 5;
	border: none;
}

#station_selection_textbox:focus {
	outline: none;
}

#station_selection_list {
	position: absolute;
	width: 100%;
	/*TODO: make the height responsive*/
	max-height: 300px;
	display: none;
	flex-direction: column;
	overflow-y: auto;
	background-color: white;
	/*TODO: add a black border that is within the size of the element(border: 1px solid doesn't do it)*/
}

.station_selection_selectable {
	background-color: white;
	padding-top: 5;
	padding-bottom: 5;
}

.station_selection_selectable:hover {
	background-color: #CFEAFE;
}

/*
nice loading animation from https://loading.io/css/
*/
.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#load_container {
	position: absolute;
}

.done_loading {
	display: none;
}

.loading {
	background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5));
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#plot_container {
	position: relative;
	display: flex;
	flex-flow: row;
	overflow: auto;
}

.plot {
	/*position: relative;*/
	border-right: 1px solid;
	overflow: auto;
}

/*these shouldn't be inside each plot. plot and plot_view should merge and this should be outside the plot container*/
.plot_title {
	display: flex;
	background-color: #FFFFFF;
	justify-content: space-between;
	font-size: 14px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#date_container {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.plot_live {
	background-color: red;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	margin: 2px;
}

.plot_view {
	max-width: 1440px;
	overflow-x: scroll;
}

#selection_button_container {
	display: flex;
	column-gap: 0.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#selection_button_container > * {
	flex-grow: 1;
}

#form_submit_container {
	display: flex;
	flex-flow: column;
	row-gap: 1rem;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}
